@import '../../assets/css/common.scss';

.container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 8px;

    font-weight: bold;
    font-family: $app-font;
    font-size: 18px;

    margin: 0;

    width: auto;
    height: 2.7rem;

    padding: 1rem;
    overflow: hidden;
    white-space: nowrap;
}

.border {
    background: white;
    border: 1px solid $orange;
    font-weight: bold;

    transition: 0.15s;

    color: $orange;
    &:hover {
        background: $orange;;
        color: white;
        path {
            stroke: white;
        }
        g {
            opacity: 1;
        }
    }
}

.fill {
    background: $orange;

    color: white;
    font-weight: bold;
}

.shadow {
    background: black;
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: fixed;
    left: 0; top: 0;
    opacity: 0.6;
    border-radius: 0;
    cursor: default;
}

.dots {
    border: none;
    background: none;
    height: 1rem;
}

.borderless {
    background: none;
    border: none;
    color: $orange;
    font-weight: bold;
}