@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$background: #F9F6F4;
$orange: #FF993C;
$red: #FD5858;
$green: #03AC00;
$indigo: #919DBA;

$indigo-b: #EAF1F8;
$red-b: #F8EBE8;
$green-b: #DEF6E0;

$app-font: 'Montserrat';