@import '../../assets/css/common.scss';

.container {
    width: 14rem;
    height: 20rem;

    margin: 0 1rem 0 0;
}

svg {
    margin:0 0.5rem 0 0;
}

// .logo {
//     align-self: flex-start;
// }

// .service-pack {
//     justify-content: center;
// }