@import '../../assets/css/common.scss';

.container {
    width: 15rem;
    height: 20rem;
}

button {
    border: none;
    background: none;
    font-family: $app-font;
    color: #6A625D;
    font-weight: medium;
    font-size: 18px;
    cursor: pointer;

    margin: 6% 0 0 6%;

    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
}

svg {
    margin:0 0.5rem 0 0;
}

// .logo {
//     align-self: flex-start;
// }

// .service-pack {
//     justify-content: center;
// }