@import '../../assets/css/common.scss';

.navButtons {
    border: none;
    background: none;
    font-family: $app-font;
    color: #6A625D;
    font-weight: medium;
    font-size: 18px;
    cursor: pointer;

    margin: 6% 0 0 6%;

    width: 100%;
    height: 3rem;
    display: flex;
    &.isActive {
        background: #FFB800;
        border-radius: 8px;
        button {
            color: white;
            font-weight: bold;
        }
        path {
            fill: white;
        }
        g {
            opacity: 1;
        }
    }
}