@import '../../assets/css/common.scss';

.container {
    z-index: 1;
    border-radius: 10px;
    width: 35vw;
    height: auto;

    background: white;
    position: fixed;
    margin: 0;
    left: 30vw;
    top: 15vh;
    padding: 2%;

    font-family: $app-font;
}

.title {
    position: relative;
    left: 35%;
    margin: 0 0 1% 0;
}

.priceFlex, .dateFlex, .buttonsFlex {
    display: flex;
    align-items: center;
}

.input {
    &--border {
        font-family: $app-font;
        border-radius: 8px;
        height: 2rem;
        border: 1px solid #A5A8B1;
    }
    &--fill {
        font-family: $app-font;
        border-radius: 8px;
        height: 2rem;
        border: none;
        background: #F1F4F8;
        color: #A5A8B1;
    }
    &--date {
        font-family: $app-font;
        border-radius: 8px;
        height: 2rem;
        border: 1px solid #A5A8B1;
    }
    &--dropdown {
        font-family: $app-font;
        border-radius: 8px;
        height: 2rem;
        border: 1px solid #A5A8B1;
        background: white;
    }
}