@import './assets/css/common.scss';

.App {
    height: 100vh;
    background: $background;
}

.Layout {
    display: flex;
}

.profileContainer {
    position: fixed;
    left: 91%;
    top: 2%;
}

.navbarContainer {
    margin: 1% 1% 0 2%;
}


